/* Enlaces: quitar subrayado por defecto y mantener acceso por teclado */
a {
    text-decoration: none;
    color: inherit; /* hereda color del contexto */
}
/* Asegurar estilo específico para el menú */
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
color:#fd0e7e
}

body {
    margin: 50px;
    background-image: url('https://www.splenda.com/wp-content/uploads/2021/07/tres-leches-cake-scaled.jpg'); 
    background-size: cover; 
    background-position: center;
    font-size: 20px;
}
header{
    font-family:'Comic Sans MS', cursive, sans-serif;
    font-size: 80px;
    color: purple;
    text-shadow: 2px 2px #FFD700;
    text-align: center;
}
h1{
    color:black;  
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma;
    text-align: center;
}
h2{
    color: black;  
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma;
    text-align: left;
}
h3{ 
    color: black; 
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma;
    text-align: left;
}
.container{
    background-color:hotpink;
    padding: 10px;
    border: solid black;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.item-list{
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border-radius: 10px;
    gap: 15px;
    height: 250px;
    width: 380px;
}
.menu{
font-family: fantasy, cursive;
font-size: 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align:center;
  justify-content: space-around;
  padding: 1em;
}

.menu:hover {
 color: rgb(238, 15, 89);
 text-decoration:underline;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .item-list2{
    background-color: rgb(250, 198, 224);
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border-radius: 10px;
    gap: 15px;
    height: auto;
}
.special-item {
    align-self: flex-start;
}

.footer {
  position: fixed;
  bottom: 0; 
  left: 0;
  background-color: white; 
  color: black; 
  display: flex; 
  justify-content: space-between; 
  align-items: left;
  width: 100%;
  font-size: 14px;
}